body{
    max-width: 8000px;
}

.Beerpictures{
    display:flex;
    width:690px;
    height:430px;
    margin-top:-490px;
    margin-left:1100px;
    flex-direction: row;
    border-radius: 50px 50px 50px 50px;

}
#artikel1{
    margin-top: 100px;
    width:862px;
    display:flex;
    background-color: #FFFFFF;
    padding: 150px 870px 150px 150px;
    border-radius:50px 0px 0px 50px;
}
.artikelheader{
    position: absolute;
    color:#FFCB05;
    font-family: robotoBold, Arial, Helvetica, sans-serif;
}
.artikeltext{
    margin-top: 30px;
    display: flex;
    margin-right: 0px;
    margin-left:0px;
    font-size: 18px;
    color: #005CD0;
    font-weight: 800;
  
}

#artikel2{
    margin-top: 320px;
    margin-right: 300px;
    width:200px;
    display:flex;
    background-color: #FFFFFF;
    padding: 150px 150px 150px 1300px;
    border-radius: 0px 50px 50px 0px;
}
#USA{
    margin-left:-600px;
}
#USAtext{
    margin-left:-600px;
    font-family: robotoThin, Arial, Helvetica, sans-serif;
}