/*
colours we use: #005A9C, white , #FFCB05.
authors: Kanter Rosbag, Chris Guilliamse, Maarten Witteman, Sven Verroen and Stan de Rijk

*/

* {
    padding: 0;
    margin: 0;
}
body{
    background-color:#005A9C ;

}

#open{
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    color: #005CD0;
}



#Logo{
    margin:-55px 0px 0px 70px;
    height:70px;
    width:120px;
    display: flex;
}
.topmenu{
    width:100%;
    height:75px;
    background-color: white;
    border-radius: 0px 0px 20px 0px;
}
.sidemenu {
    height:100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#FFCB05;
    overflow-x: hidden;
    transition: 0,8s;
    padding-top: 60px;
    border-radius: 0px 50px 0px 0px;
    /*animation*/
    animation-name: navbarSlideIn;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}
.sidemenu a{
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #005A9C;
    display:block;
    transition: 0.5s;
    text-decoration: none;
}
.sidemenu a:hover {
    color:#363636;
    font-size: 30px;
}

.sidemenu .closebutton {
    position: absolute;
    top:0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



@media screen and(max-height: 450px) {
    .sidemenu {padding-top: 15;}
    .sidemenu {font-size: 18px;}
}

#CoronaLogo {
    height: 250px;
    width: 350px;
    display: block;

}



.pagetitle{
    color:#FFCB05;
}
.firstalinea{
    color:white;
}
.text{
    margin-left: 25%;
    display: flexbox;
}

/*Animations*/
@keyframes navbarSlideIn{
    0%{
        width: 0px;
    }
    100%{
        width: 300px;
    }
}
@keyframes navbarSlideOut{
    0%{
        width: 300px;
    }
    100%{
        width: 0px;
    }
}